/* src/components/Section.module.css */

.section {
  padding: 1.5rem;
  border-radius: 8px;
  background-color: var(--card-background);
  border: 1px solid var(--light-gray);
}

.sectionTitle {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 1.5rem;
  border-bottom: 2px solid var(--primary-color);
  padding-bottom: 0.5rem;
  display: inline-block;
}
